/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-orange{
    color: #FD6E0A;
}
.btn-primary {
    border-radius: 6px;
    background-color: #FD6E0A;
    width: 100px;
    height: 47px;
    border: 0;
    color:white;
}  
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding: 50px;
}
nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);
}
/* header related styles */
.header-class{
    background-color: #FFF8F3;;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .develo-img {
    width: 585;
    height: 676;
}
.banner-greating{
    color: var(--dark-02, #474747);
    font-size: 27px;
    margin-bottom: 0px;
    margin-left: 3px;
}
.banner-title{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.para-banner{
    font-size: 20px;
    padding-top: 0px;
}